/* Cascade Style Sheet for this website */


.entirepage {
    width: 800px;
    margin: auto;
    font-size: 12px;
    color: darkgrey;
    background-color: white;
}

.menu {
    list-style-type: none;
}

.menu>li {
    color: blue;
    border: 1px solid black;
    display: inline;
    margin-right: 5px;
}

.menu>li>a {
    text-decoration: none;
    color: white;
    background-color: rgb(82, 82, 127);
    padding: 2px;
}

.headers {
    min-height: 48px;
    text-align: center;
}

.footers {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: right;
}

.error {
    color: red;
}

input,
textarea {
    width: 400px;
}

input[type=submit],
input[type=radio] {
    width: auto;
}

.card-outer-container {
    margin-bottom: 15px;
}

.card-inner-container {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.card-img {
    max-height: 150px;
    max-width: 200px;
    object-fit: cover;
}

.product-img {
    margin-bottom: 20px;
    height: 50%;
    width: 50%;
}

.shoppingcart-img {
    max-height: 100px;
    max-width: 120px;
}

.button {
    margin-bottom: 20px;
}

.product-text {
    color: black;
    display: flex;
    flex-direction: column;

    &>form>button {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

a:link {
    text-decoration: none;
}

.cart-quantity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-quantity-wrapper>form>button {
    margin-bottom: 0px;
}

.radio {
    margin-left: 10px;
}

.fa {
    color: darkgray;
}

.checked {
    color: rgb(235, 182, 67);
}